.btn, a.btn {
  font-family: 'heliosbold';
  background: #c1101d;
  color: #fff;
  border: none;
  font-size: 17px;
  line-height: 40px;
  padding: 10px 31px;
  border-radius: 80px;
  transition: all 0.3s;
  text-decoration: none;

 
  &--order {
    font-family: 'helios';
    font-size: 13px;
    line-height: 9px;
    min-width: 135px;
  }

  &:hover {
    opacity: 0.8;
    color: #fff;
    background: #c1101d;
  }
}