.footer {
  margin-top: 60px;

  @media (min-width: 768px) {
    margin-top: 90px;
  }
  
  &__bottom {
    background: grey;
    padding: 40px 0;
  }
  
  &__list {
    padding: 0;
    margin: 0 0 48px 0;

    @media (min-width: 992px) {
      margin: 0;
    }

    li {
      color: #8D8D8D;
      font-size: 14px;
      line-height: 19px;
      margin-bottom: 10px;
      list-style: none;
      padding: 0;
    }

    a {
      color: #fff;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

