.footer {
  margin-top: 60px;

  @media (min-width: 768px) {
    margin-top: 111px;
  }
  
  &__inner {
    display: flex;
    flex-wrap: wrap;
  }
  
  &__logo {
    max-width: 160px;
    width: 100%;
    margin: 0 30px 0 21px;
  
    @media (min-width: 768px) {
      max-width: 288px;
      margin: 0 68px 0 21px;
    }
  }
  
  &__links {
    margin: 19px 0 0 0;
    @media (min-width: 768px) {
      margin: 29px 0 0 0;
    }
  }
  
  &__copy {
    margin-left: auto;
    font-size: 17px;
    display: flex;
    align-items: center;
    padding: 0 52px 0 25px;
  }
  
  &__bottom {
    background: #dadada;
    padding: 40px 0 40px 0;
  
    @media (min-width: 768px) {
      padding: 125px 0 40px 0;
    }
  }
  
  &__list {
    padding: 0;
    margin: 0 0 48px 0;

    @media (min-width: 992px) {
      margin: 0;
    }

    li {
      color: #383838;
      font-size: 18px;
      line-height: 20px;
      margin-bottom: 10px;
      list-style: none;
      padding: 0;
    }

    a {
      color: #383838;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

