.header {
  position: sticky;
  top: 0;
  z-index: 2;
  background: #fff;
  
  &__navbar {
    padding: 8px 0;

    @media (min-width: 768px) {
      padding: 17px 0 12px 0;
    }
  }

  &__logo-holder {
    padding: 0;
    width: 160px;
    flex: none;
    margin-right: 34px;

    @media (min-width: 768px) {
      width: 228px;
    }
  }

  &__logo {
    display: block;
    width: 100%;
  }

  &__menu-opener {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    overflow: hidden;
    background: #F04438;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    outline: none;
    position: relative;
    
    &:focus {
      outline: none;
    }

    &.collapsed {
      
      span {
        &:nth-child(2) {
          display: block;
        }
  
        &:nth-child(1) {
          transform: rotate(0);
          transform-origin: center;
          position: static;
          margin-left: 0;
        }
  
        &:nth-child(3) {
          transform: rotate(0);
          transform-origin: center;
          position: static;
          margin-left: 0;
        }
      }
    }
    
    span {
      background: #fff;
      width: 14px;
      height: 1px;
      margin-bottom: 4px;
      transition: transform 0.3s;

      &:last-child {
        margin-bottom: 0;
      }
      
      &:nth-child(2) {
        display: none;
      }
  
      &:nth-child(1) {
        transform: rotate(-45deg);
        transform-origin: center;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -7px;
      }
  
      &:nth-child(3) {
        transform: rotate(45deg);
        transform-origin: center;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -7px;
      }
    }
  }

  &__menu-item {
    flex: none;

    @media (min-width: 991px) {
      border: none;
    }

    .dropdown-toggle::after {
      content: "\e90b";
      font-family: 'icomoon';
      border: none;
      color: #8D8D8D;
      font-size: 7px;

      @media (min-width: 991px) {
        display: none;
      }
    }

    &:last-child {
      .dropdown-menu {
        left: inherit;
        right: 0;
      }
    }

    &.show {
      .header__menu-link {
        &:after {
          transform: rotate(180deg);
        }
      }
    }

    &.active {
      .header__menu-link {
        @media (min-width: 991px) {
          color: #fff !important;
          border-radius: 50px;
          background: #c1101d;
        }
      }
    }

    &:hover {
      .header__menu-link, span:before {
        color: #444;

        @media (min-width: 991px) {
          color: #fff !important;
          background: #c1101d;
          border-radius: 50px;
        }
      }

    }
  }

  &__phone-link {
    flex: none;
    font-family: 'heliosbold';
    color: #000;
    padding-right: 33px;
  }

  .navbar-nav .nav-link {

    &.header__menu-link {
      font-size: 11px;
      color: rgb(95, 92, 92);
      padding: 13px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-transform: uppercase;

      @media (min-width: 991px) {
        display: block;
        padding: 4px 5px;
        margin: 0 2px;
      }
    }
  }
}